@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat'
}

header {
    width: 100%;
    height: 289px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../Images/images/header_excursion.png") no-repeat;
    filter: blur(0.5px);
    margin-bottom: 40px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 5% 10% 1% 10%;
}

menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
    font-size: 14px;
    color: #FFFFFF;
}

#main-page,
#excursion-page,
#account {
    text-decoration: none;
    color: #FFFFFF;
}

#main-page:hover,
#excursion-page:hover,
#account:hover {
    color: #FFC700
}

#our-excursions {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 88px;
    color: #FFFFFF;
}

.tagline {
    padding-left: 10%;
}

.search-form {
    display: flex;
    flex-direction: row;
    width: 100%;
}


#place {
    background: url(../Images/svg/place.svg) no-repeat;
    background-position: 90% center;
    width: 100%;
}

#date {

    width: 100%;
}

#people {
    background: url(../Images/svg/people.svg) no-repeat;
    background-position: 90% center;
    width: 100%;
}

#place::placeholder,
#date::placeholder,
#people::placeholder {
    color: #000000;
}

form input,
form input:focus {
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    color: #282828;
    font-size: 14px;
    background-color: transparent;
}

.button-show {
    width: 230px;
    height: 50px;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border-radius: 10px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    transition: all 0.2s ease-in-out;

}

.button-show:hover,
button:hover {
    background: linear-gradient(92.71deg, #FFC700 0%, #ffcc99 100%);
    color: #FFFFFF;
}

button {
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background: transparent;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}


.search {
    width: 77%;
    height: 260px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3%;
}

.excursion-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 60px;
}

.excursion-type p {
    text-align: center;
    width: 20%;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #282828;
    border-bottom: 2px solid #D4D4D4;
}

.excursion-type a:hover,
.excursion-type a:active {
    border-bottom: 2px solid #0499DD;
    text-decoration: none;
    color: #282828;
}

.excursion-type a {
    color: #282828;
    text-decoration: none;

}



.button-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 230px;
    height: 50px;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border-radius: 60px;
    align-items: center;
}

#arrow1 {
    width: 14px;
    margin-left: 5px;
}

#button-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-right: 5px;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#place,
#date,
#people {
    width: 235px;
    height: 50px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: transparent;
    padding: 10px;
    margin-right: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 1;
    color: white;
    background: url(../Images/svg/calendar.svg) no-repeat;
    width: 20px;
    height: 20px;
}


aside {
    margin-top: 38px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #0499DD;
    margin-bottom: 31px;
}

aside p {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #282828;
    margin-bottom: 20px;
}

#price {
    width: 105px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 40px;
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #282828;
}

#main-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 77%;
}

#main-container h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #0499DD;
}

.main-section {
    width: 79%;
    margin-top: 38px;
}

.main-section h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #0499DD;
    margin-bottom: 40px;
    margin-left: 40px;
}

section {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 40px;
    margin-bottom: 20px;
}


#description-text p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #282828;
    border-left: 3px solid #0499DD;
    padding-left: 20px;
    text-align: justify;
}

.tickets-cost {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 20px 20px 20px 0;
}


#full-ticket,
#children-ticket {
    width: 90px;
    height: 35px;
}

#duration {
    width: 97px;
    height: 22px;
}

.tour-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 27px 43px 27px
}

#title {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFC700;
}

.tour-title h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #282828;
}

.tour-title p:first-child {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFC700;
}

.button-with-like {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
}

.button-like {
    width: 230px;
    height: 50px;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border-radius: 60px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    transition: all 0.2s ease-in-out;
}

button {
    border: none;
    border-radius: 60px;
    width: 100%;
    height: 100%;
    background: transparent;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button-like:hover,
button:hover {
    background: linear-gradient(92.71deg, #FFC700 0%, #ffcc99 100%);
    ;
    color: #FFFFFF;
}

#arrow1 {
    margin-left: 10px;
}

.button-with-like svg {
    margin-left: 10px;
}

.like-heart {
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
}

#checkbox {
    display: none;
}

#checkbox+svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

#checkbox:checked+svg {
    background-position: 0 -26px;
}

footer {
    display: flex;
    flex-direction: row;
    height: 173px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2% 10% 2% 10%;
    background: #EDEDED;

}

.logoColor {
    width: 80px;
    height: 114px;
}

.footerMenu p,
.footerContacts {
    display: flex;
    flex-direction: column;
}

.footerSM,
.footerMail,
.whatsapp,
.tg,
.tgBot {
    display: flex;
    flex-direction: row;
}

.tg img,
.tgBot img,
.whatsapp img,
.footerMail img {
    margin-right: 10px;
}

.footerSM {
    width: 120px;
    justify-content: space-between;
}

.footerMenu a,
.footerMail a {
    text-decoration: none;
    color: #282828;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}


#quantity-checkbox1,
#quantity-checkbox2,
#quantity-checkbox3,
#quantity-checkbox4,
#quantity-checkbox5,
#quantity-checkbox6,
#quantity-checkbox7,
#quantity-checkbox8,
#quantity-checkbox9,
#quantity-checkbox10,
#quantity-checkbox11 {
    width: 73px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 40px;
}

.quantity-checkboxes {
    display: grid;
    grid-column: 3;
    grid-row: 4;
    width: 100%;
}

#quantity-checkbox1,
#quantity-checkbox2,
#quantity-checkbox3 {
    grid-row: 1;
}

#quantity-checkbox4,
#quantity-checkbox5,
#quantity-checkbox6 {
    grid-row: 2;
}

#quantity-checkbox7,
#quantity-checkbox8,
#quantity-checkbox9 {
    grid-row: 3;
}

#quantity-checkbox10,
#quantity-checkbox11 {
    grid-row: 4;
}

#quantity-checkbox1,
#quantity-checkbox4,
#quantity-checkbox7,
#quantity-checkbox10 {
    grid-column: 1;
}

#quantity-checkbox2,
#quantity-checkbox5,
#quantity-checkbox8 {
    grid-column: 2;
}

#quantity-checkbox3,
#quantity-checkbox6,
#quantity-checkbox9 {
    grid-column: 3;
}

#quantity-checkbox11 {
    grid-column: 2/4;
    font-size: 8px;
}

.open-close {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.open-btn,
.close-btn {
    width: 10%;
}

.close-btn {
    margin-bottom: 5px;
}

.open-btn {
    display: none;
}

.open-close p {
    margin: 0;
}

aside {
    width: 30%;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    height: 1018px;
}

aside h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #0499DD;
}

aside p {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #282828;
}

.costs,
.people-quantity,
.place,
.duration,
.date {
    padding: 5px 5px 20px 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #EDEDED;
}

.wrapper {
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 40px;

}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

.slider-track {
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
}

input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
}

input[type="range"]::-ms-track {
    appearance: none;
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #0499DD;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #0499DD;
    pointer-events: auto;
}

input[type="range"]::-ms-thumb {
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #0499DD;
    pointer-events: auto;
}

input[type="range"]:active::-webkit-slider-thumb {
    background-color: #ffffff;
    border: 3px solid #0499DD;
}

.values {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #ffffff;
    width: 100%;
    padding: 10px 0;

}

.values span {
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 40px;
    color: #282828;
    font-size: 12px;
    width: 105px;
    height: 30px;
    text-align: center;
    padding-top: 3%;
    box-sizing: border-box;
}

.checkbox {
    width: 73px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 40px;
}

.checkbox:hover {
    background: #0499DD;
}

.quantity-checkboxes {
    display: grid;
    grid-column: 3;
    grid-row: 4;
    width: 20%;
}

#quantity-checkbox1,
#quantity-checkbox2,
#quantity-checkbox3 {
    grid-row: 1;
}

#quantity-checkbox4,
#quantity-checkbox5,
#quantity-checkbox6 {
    grid-row: 2;
}

#quantity-checkbox7,
#quantity-checkbox8,
#quantity-checkbox9 {
    grid-row: 3;
}

#quantity-checkbox10,
#quantity-checkbox11 {
    grid-row: 4;
}

#quantity-checkbox1,
#quantity-checkbox4,
#quantity-checkbox7,
#quantity-checkbox10 {
    grid-column: 1;
}

#quantity-checkbox2,
#quantity-checkbox5,
#quantity-checkbox8 {
    grid-column: 2;
}

#quantity-checkbox3,
#quantity-checkbox6,
#quantity-checkbox9 {
    grid-column: 3;
}

#quantity-checkbox11 {
    grid-column: 2/5
}

label {
    text-align: center;
    padding-top: 6px;
    box-sizing: border-box;
    color: #282828;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.place {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.place input {
    width: auto;
    height: auto;
    color: #282828;
    margin-right: 5px;
}

.place label {
    width: auto;
    height: auto;
    display: inline-block;
    padding: 0%;
}

.place p {
    margin: 2px;
}

.checkbox [type="radio"] {
    display: none;
}

aside .button-with-like {
    margin-bottom: 20px;
    height: 50px;
}

.close-btn:hover,
.open-btn:hover {
    background: none;

}