@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat'
}

header {
    width: 100%;
    height: 789px;
    filter: blur(0.5px);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../Images/images/Main_page.png") no-repeat;
    background-size: 100%;
}


footer {
    display: flex;
    flex-direction: row;
    height: 173px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2% 10% 2% 10%;
    background: #EDEDED;

}

.logoColor {
    width: 80px;
    height: 114px;
}

.footerMenu p,
.footerContacts,
.footer-mail-sm {
    display: flex;
    flex-direction: column;
}

.footerSM,
.footerMail,
.whatsapp,
.tg,
.tgBot {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.tg img,
.tgBot img,
.whatsapp img,
.footerMail img {
    margin-right: 8px;
}

.footerSM {
    width: 120px;
    justify-content: space-between;
    align-items: center;
}

.footerMenu a,
.footerMail a {
    text-decoration: none;
    color: #282828;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
}


.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 5% 10% 5% 10%;
}

menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
    font-size: 14px;
    color: #FFFFFF;
}

#main-page,
#excursion-page,
#account {
    text-decoration: none;
    color: #FFFFFF;
}

#main-page:hover,
#excursion-page:hover,
#account:hover {
    color: #FFC700
}

#travel {
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 55px;
    color: #FFFFFF;

}

#with {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 40px;
    line-height: 64px;
    color: #FFC700;
    line-height: 1px;
    margin-left: 73%;

}

#pero {
    font-family: 'Poppins', sans-serif;
    font-size: 96px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFFFF;
    line-height: 108px;
}

.tagline {
    position: absolute;
    top: 30%;
    left: 10%;
}

.logo-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 10%;
    top: 40%;
    height: 110px;
}

.logo-buttons button,
.logo-buttons button:hover {
    border: none;
    background: transparent;
    cursor: pointer;
}

.logo-buttons button:hover #fb-logo {
    stroke: #17C1BC;
}

.logo-buttons button:hover .insta-logo {
    fill: #E59B06;
}

.logo-buttons button:hover #vk-logo {
    fill: #BC0000;
}

#button-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-right: 5px;
}

.button-header {
    width: 230px;
    height: 50px;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border-radius: 60px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    transition: all 0.2s ease-in-out;
    position: absolute;
    left: 10%;
    top: 65%;
    align-items: center;
}

.button-header button {
    border: none;
    border-radius: 60px;
    width: 100%;
    height: 100%;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button-header:hover,
.button-header button:hover {
    background: linear-gradient(92.71deg, #FFC700 0%, #ffcc99 100%);
    ;
    color: #FFFFFF;
}

#arrow1 {
    margin-left: 10px;
    width: 14px
}

.video {
    width: 300px;
    height: 190px;
    padding: 0;
    position: relative;
    right: -70%
}

video {
    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(.jpg);
    border-radius: 10px;
    height: 100%;
    width: 100%;
    margin: 0;
}

#playButton {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 20%;
    height: 20%;
    background: transparent;
    border: none;
}

#playButton img {
    width: 100%;
    height: 100%;
}

#closeVideo {
    position: absolute;
    bottom: 100%;
    left: 100%;
    transform: rotate(45deg);
    background: transparent;
    border: none;
    right: 100%;
    display: none;
}

.title {
    margin-top: 150px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.title h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #0499DD;
}

#see-all {
    font-size: 12px;
}

#see-all a {
    text-decoration: underline;
    color: #282828;

}

#see-all a:hover {
    color: #0499DD;
    font-weight: bold;
    text-decoration-color: #0499DD;
}

.about-us {
    width: 74%;
    height: 749px;
    position: relative;
}

.about-us img {
    width: 100%;
    height: 100%;
}

.about-us article {
    position: absolute;
    top: 18%;
    left: 71%;
    width: 52%;
    height: 476px;
    background: #EDEDED;
    border-radius: 10px;
}

article {
    padding: 7%;
}

article h3 {
    font-size: 24px;
    line-height: 29px;
    color: #0499DD;
    text-align: left;
    margin-bottom: 40px;
}

article p {
    font-size: 14px;
    line-height: 17px;
    color: #282828;
    text-align: justify;
}

.excursion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 10% 0 10%;
    margin-bottom: 40px;
}

.bus,
.jeeping,
.yachting,
.canyonning {
    display: flex;
    flex-direction: row;
    width: 50%;
}

#bus-logo,
#jeep-logo,
#yacht-logo,
#canyon-logo {
    width: 20%;
    margin-right: 20px;
}

#bus-text,
#jeep-text,
#yacht-text,
#canyon-text {
    margin-right: 20px;
}

#bus-text h3,
#jeep-text h3,
#yacht-text h3,
#canyon-text h3 {
    font-size: 18px;
    line-height: 22px;
    color: #0499DD;
    margin-bottom: 10px;
}

#bus-text p,
#jeep-text p,
#yacht-text p,
#canyon-text p {
    font-size: 14px;
    line-height: 17px;
    color: #282828;
    text-align: justify;
}

#choose {
    width: 40%;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #282828;
    margin: auto;
}

.button-excursion {
    width: 230px;
    height: 50px;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border-radius: 60px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    transition: all 0.2s ease-in-out;
    margin: auto;
    margin-top: 20px;
}

#button-text {
    border: none;
    border-radius: 60px;
    width: 100%;
    height: 100%;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button-excursion:hover,
#button-text:hover {
    background: linear-gradient(92.71deg, #FFC700 0%, #ffcc99 100%);
    ;
    color: #FFFFFF;
}

#gallery {
    display: grid;
    grid-template-columns: 15% 18.5% 25% 18.5% 15%;
    grid-template-rows: 280px 124px 124px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 100%;
    justify-content: center;

}

#photo1,
#photo4,
#photo3 {
    grid-row: 1;
}

#photo2 {
    grid-row: 1/4;
    grid-column: 3;
}

#photo5,
#photo8 {
    grid-row: 2/4;
}

#photo6 {
    grid-row: 2;
}

#photo7 {
    grid-row: 3
}

#photo1 {
    grid-column: 1/3;
}

#photo3 {
    grid-column: 4;
}

#photo4 {
    grid-column: 5;
}

#photo5 {
    grid-column: 1;
}

#photo6,
#photo7 {
    grid-column: 2;
}

#photo8 {
    grid-column: 4/6;
}

#photo1 img,
#photo2 img,
#photo3 img,
#photo4 img,
#photo5 img,
#photo6 img,
#photo7 img,
#photo8 img {
    width: 100%;
    height: 100%;
}

#photo1 img:hover,
#photo2 img:hover,
#photo3 img:hover,
#photo4 img:hover,
#photo5 img:hover,
#photo6 img:hover,
#photo7 img:hover,
#photo8 img:hover {
    transform: scale(1.1);
    transition: 1.5s;
}

.questions {
    width: 100%;
    height: 640px;
    background: url(../Images/images/background_questions.png);
    position: relative;
    padding-right: 10%;
}

.form {
    width: 38%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    z-index: 2;
    height: 100%;
    position: absolute;
    left: 57%;
    padding: 7%;
}

.form h3 {
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.form p {
    font-size: 14px;
    line-height: 17px;
    color: #FFC700;
}

form {
    border-bottom: 1px solid #FFFFFF;
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

#name,
#tel,
#email {
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF
}

form input,
form input:focus {
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 14px;
    margin-left: 10px;
    background-color: transparent;
}

#request {
    margin-bottom: 45px;
}