.title {
  margin: 50px 0 50px;
}

#template {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #F1EFEF;
  width: 100%;
  height: 50px;
  margin-top: 50px;
}

#title {
  font-weight: bold;
  font-size: large;
  margin: 10px;
}

form {
  display: flex;
  flex-direction: row;
}

#your-cart,
.seach-input,
.btn-search {
  border-radius: 5px;
  border: solid #048913 1px;
  margin: 10px;
}

#your-cart {
  background: #048913;
  color: white;
  width: 150px;
  text-align: center;
}

.seach-input {
  width: 150px;
  height: 30px;
  color: gray;
}

.btn-search {
  width: 70px;
  height: 30px;
  background: transparent;
  text-decoration: none;
  color: #048913;
  text-align: center;
}

#main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 85%;
  height: auto;
  margin: 0 auto;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  height: 400px;
  width: 20%;
}

.card-img-top {

  height: 30%;
  margin-bottom: 5px;
}

.card-body {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price-rating {
  background: #F1EFEF;
  border-top: 1px solid #D0D3D3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3px;
  font-size: smaller;
  padding-bottom: 10px;
  padding-top: 5px;
  height: 20%;
}

.card-title {
  font-size: small;
  height: 10%;
  margin-bottom: 5px;
}

.card-text {
  font-size: small;
  height: 40%;
}

.main-container {
  width: 50%;
  height: 50%;
  padding: 10px;
  border: solid grey 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  display: none;
  position: fixed;
  left: 25%;
  top: 20%;
  z-index: 1;
  overflow: auto;
  background: white;
}

.order,
.item-information,
.total-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.item-information {
  justify-content: space-between;
  border: solid 1px grey;
  border-radius: 5px;
  padding: 3%;
}

.order {
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background: red;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
  text-align: center;
}

.total-price {
  justify-content: end;
  font-weight: bold;
}

.order-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  color: white;
  background: blue;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  padding: 1%;
  text-decoration: none;
}

.close-btn {
  border-radius: 3px;
  background: #DADDDD;
  width: 15px;
  text-align: center;
  font-size: 13px;
  text-decoration: none;
  color: black;
}

.quantity-price,
.common-price-quantity {
  display: flex;
  flex-direction: row;
}

.common-price-quantity {
  background: blue;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  text-align: center;
}

.quantity-price {
  justify-content: space-between;
  align-items: center;
}

.minus-quantity,
.common-price-quantity,
.plus-quantity {
  margin: 5px;
}

.minus-quantity,
.plus-quantity {
  background: grey;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  width: 20px;
  text-align: center;
}

.is-quantity,
.multiply,
.is-price {
  margin: 3px;
}

.order,
.order-btn {
  display: flex;
}

.item-information {
  
}

.main-container {
  
  justify-content: space-between;
}

