
#main-container {
    box-sizing: border-box;
    font-family: "Poppins";
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

h1 {
    color: #78304f;
    font-weight: 900;
}

header {
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

header input {
    width: 80%;
    height: 30px;
    border: 1px solid #78304f;
    border-radius: 5px;
}

header input[type="text"] {
    color: #49484a;
    padding-right: 10px;
    background: url(../It-Academy/images/search.svg) center left 97%;
    background-repeat: no-repeat;
    font-family: "Poppins";
    font-weight: 500;
}

.main-table {
    width: 90%;
    height: 50%;
    background: center no-repeat;
    background-image: url('../It-Academy/images/6220925.jpg');
    background-size: cover;
    border: solid 1px #99606A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    font-weight: bold;
    box-shadow: 0px 0px 30px #99606A;
    margin: 0 auto;
    font-family: "Poppins";
    align-items: flex-end;
}

.todayWeather {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}

.todayWeather img {
    width: 60px;
    height: 60px;
}

.today-date-and-sunset-time {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.weather-parameters {
    border: 1px solid #99606A;
    border-radius: 20px;
    height: auto;
    display: grid;
    grid-template-columns: 50px 100px 5px 50px 100px;
    grid-template-rows: 20px 20px 20px 20px;
    grid-gap: 5px;
    align-items: center;
    text-align: left;
    padding: 5px;
    justify-content: space-between;
    box-sizing: border-box;
    align-content: center;
}

#weather-icon {
    width: 100px;
    height: 100px;
}

.weather-parameters div {
    border: none;
    height: auto;
}

.weather-parameters svg {
    height: 40px;
    width: 50px;
    margin-left: 3px;
}

#humidity-icon {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

#humidity-title {
    grid-column: 2;
    grid-row: 1;
    font-weight: bold;
}

#humidity-data {
    grid-column: 2;
    grid-row: 2;
}

#sunset-icon {
    grid-column: 4;
    grid-row: 1/3;
}

#sunset-title {
    grid-column: 5;
    grid-row: 1;
    font-weight: bold;
}

#sunset-data {
    grid-column: 5;
    grid-row: 2;
}

#wind-icon {
    grid-column: 1;
    grid-row: 3/5;
}

#wind-title {
    grid-column: 2;
    grid-row: 3;
    font-weight: bold;
}

#wind-data {
    grid-column: 2;
    grid-row: 4;
}

#sunrise-icon {
    grid-column: 4;
    grid-row: 3/5;
}

#sunrise-title {
    grid-column: 5;
    grid-row: 3;
    font-weight: bold;
}

#sunrise-data {
    grid-column: 5;
    grid-row: 4;
}

#line {
    grid-column: 3;
    grid-row: 1/5;
    border-left: 2px solid #99606A;
    width: 30px;
    height: 80%;
}

.max-min-temperature {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 30px 25px 25px;
    border: 1px solid #99606A;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    align-items: center;
    text-align: left;
    align-content: center;
    justify-content: space-between;
    justify-items: center;
    color: #FEFEFE;
    background: linear-gradient(to left top, #78304f, #7e3856, #85405d, #8b4765, #924f6c);
}

#max-temp-title {
    grid-column: 1/3;
    grid-row: 1;
}

#min-temp-title {
    grid-column: 3/5;
    grid-row: 1;
}

#max-temp-title,
#min-temp-title {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#max-temp-data {
    grid-column: 2;
    grid-row: 2/4;
}

#min-temp-data {
    grid-column: 4;
    grid-row: 2/4;
}

#min-temp-data,
#max-temp-data {
    font-size: 25px;
}

#max-temp-icon {
    grid-column: 1;
    grid-row: 2/4;
}

#min-temp-icon {
    grid-column: 3;
    grid-row: 2/4;
}

#min-temp-icon,
#max-temp-icon {
    height: 30px;
    width: 30px;
}


.forecast-container {
    display: flex;
    flex-direction: row;
    border: solid 1px #99606A;
    border-radius: 20px;
    padding: 10px;
    align-content: space-around;
    justify-content: space-around;
    align-items: stretch;
    font-family: "Poppins";
    box-sizing: border-box;
    width: 100%;
}

.day-forecast-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 20%;
    font-size: 13px;
    font-weight: bold;
}


.container {
    width: 90%;
    height: 40%;
    margin: 0 auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
}

.weather-parameters {
    grid-column: 1;
    grid-row: 1;
}

.max-min-temperature {
    grid-column: 1;
    grid-row: 2;
}

.forecast-container {
    grid-column: 2;
    grid-row: 1/3;
}

.weather-parameters svg {
    fill: #78304f;
}

.rainfall {
    grid-column: 1;
    grid-row: 2;
}

.weather-of-week {
    grid-column: 2;
    grid-row: 1/3;
}

.todayTemperature {
    font-size: 40px;
}

.location {
    font-size: 20px;
}

.sunset,
.sunset-time,
#today-day {
    font-size: 25px;
}

.inputSearchList {
    display: none;
    width: 35%;
    height: auto;
    border: solid 1px black;
    position: absolute;
    top: 65%;
    left: 20%;
    background: transparent;
    border: 1px solid black;
    font-family: "Poppins";
    box-sizing: border-box;
    padding: 5px;
}

.list-container {
    display: flex;
    flex-direction: column;
}

.previous-search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 3px;
}

.delete-search {
    text-align: right;
    font-size: 15px;
    color: black;
    font-weight: bold;
    display: none;
}

#weather-description {
    font-size: 20px;
}